.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

h1, p {
    text-align: center;
}

#createButtons {
    display: inline-block;
    background-color: #525151;
    padding: 15px;
    width: 120px;
    height: 50px;
    color: #ffffff;
    text-align: center;
    border: 4px double #cccccc;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    font-size: 1.5rem;
    color: white;
    background-color: #3807c9;
    border: 4px double #cccccc;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

button.loser {
    background-color: #ff0000;
}

button.winner {
    background-color: #2ba807;
}

button.flipped {
    transform: rotateY(180deg);
}

button.back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.hidden {
    display: none;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#buttons button {
    margin: 10px;
}
